.well
  %h2
    Create Account
    %small
      or
      = link_to 'Sign In', new_user_session_path
      if you already have an account.

  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :name
      %br/
      = f.text_field :name, value: nil, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, value: nil,class: 'form-control'
    .form-group
      = f.label :password
      %br/
      = f.password_field :password, :autocomplete => "off", class: 'form-control'
    .form-group
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, class: 'form-control'
    .form-group.text-right
      %button.btn.btn-md.btn-primary{type: :submit}
        %i.fa.fa-lock
        %span &nbsp;
        %span Sign up
