.well
  %h2 Create Account
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, :autofocus => true, class: 'form-control'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .form-group
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-group
      = f.label :password
      %br/
      = f.password_field :password, :autocomplete => "off", class: 'form-control'
    .form-group
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, class: 'form-control'
    .form-group.text-right
      %button.btn.btn-md.btn-primary{type: :submit}
        %i.fa.fa-lock
        %span &nbsp;
        %span Sign up
