.blurb
  .bg
    .img
      = image_tag(blurb.image_url)
  .content
    .text
      %span= blurb.text
      .timeago= t('blurb.timeago', time: time_ago_in_words(blurb.time))
    .time
      %i.fa.fa-clock-o
      %span= blurb.time
    .by
      %i.fa.fa-user
      %span= t('blurb.who', user: blurb.username)
