#my-blurbs-page
  - if @blurbs.empty?
    .text-center
      %h1
        %i.fa.fa-frown-o
        = t('.no_predictions')
      %p
        = t('.you_dont_have_any_predictions_')
        = t('.create_your_first_prediction_t')
      = link_to t('.create_my_first_prediction'), new_blurb_path, class: 'btn btn-default btn-md'

  - else
    %h1= t('my_predictions')
    - if current_user.guest_account?
      %p
        %i.fa.fa-warning-sign.fa-lg
        %strong #{t('note')}:
        %span= t('my_predictions_page.note.a')
        = link_to t('.create_account'), edit_user_registration_path
        %span= t('my_predictions_page.note.b')

    .row
      - @blurbs.each do |blurb|
        = render 'blurbs/thumbnail', blurb: blurb
