#my-blurbs-page
  %h1= t('my_predictions')
  - if current_user.guest_account?
    %p
      %i.fa.fa-warning-sign.fa-lg
      %strong #{t('note')}:
      %span= t('my_predictions_page.note.a')
      = link_to 'Create Account', edit_user_registration_path
      %span= t('my_predictions_page.note.b')

  .row
    - @blurbs.each do |blurb|
      = render 'blurbs/thumbnail', blurb: blurb
