- content_for :on_body do
  .bg-img
    .bgg{:style => "background-image: url('#{@blurb.background}')"}

  - unless @blurb.custom_background?
    .img-attribution
      = t('image_attribution')
      = link_to @blurb.image_attribution.author, @blurb.image_attribution.src, target: :_blank


#prediction-page
  .prediction-poster{:style => "background-color: #{@blurb.color}"}
    .content
      .text
        %strong= @blurb.text
        .attribution
          %span{ blurb_user_attributes } #{@blurb.username},
          %span.timeago{'data-livestamp' => @blurb.time.to_i} #{time_ago_in_words(@blurb.time)} ago
  .notice!= t('blurb.notice', time: @blurb.time)

  .share-row
    .copy-link.hidden-xs
      .input-group
        %input.form-control{type: "text", value: blurb_url(@blurb)}
        %span.input-group-btn
          %button.btn.btn-default#copy-link{type: "button"}
            %i.fa.fa-link
            %span= t('blurb.copy_link')
    = render_shareable :url => blurb_url(@blurb), :buttons=> ['facebook', 'twitter'], :text => "#{t('blurb.share_description')} #{@blurb.text}"

- if author?
  = render 'blurbs/change_image'


:javascript
  copyUrl('#copy-link', #{blurb_url(@blurb).to_json});
