- content_for :on_body do
  .bg-img
    .bgg{:style => "background-image: url('#{@blurb.background}')"}

  - unless @blurb.custom_background?
    .img-attribution
      = t('image_attribution')
      = link_to @blurb.image_attribution.author, @blurb.image_attribution.src, target: :_blank


#prediction-page
  .prediction-poster{:style => "background-color: #{@blurb.color}"}
    .content
      .text
        %strong= @blurb.text
        .attribution
          %span{ blurb_user_attributes } #{@blurb.username},
          %span.timeago{'data-livestamp' => @blurb.time.to_i}= t('blurb.timeago', time: time_ago_in_words(@blurb.time))
  .notice!= t('blurb.notice', time: @blurb.time)

  .share-buttons.row.text-center
    = link_to facebook_share_url, target: :_blank , class: 'btn-share btn-share-facebook', data: {width: 600, height: 300}  do
      %i.fa.fa-facebook
    = link_to twitter_share_url, target: :_blank , class: 'btn-share btn-share-twitter', data: {width: 550, height: 420}  do
      %i.fa.fa-twitter
    = mail_to nil, subject: 'Check out this prediction from Mark.My', body: "\"#{@blurb.text.strip}\"\n - #{@blurb.username}, #{t('blurb.timeago', time: time_ago_in_words(@blurb.time))} \n\nYou can find this predication and more at #{blurb_url(@blurb)}", class: 'btn-share btn-share-mail' do
      %i.fa.fa-envelope
    = link_to blurb_url(@blurb), class: 'btn-share btn-share-link' do
      %i.fa.fa-link

- if author?
  = render 'blurbs/change_image'
