- content_for :on_body do
  .world-cup-bg
  .img-attribution
    = t('image-attribution')
    = link_to 'keremtapani', 'https://www.flickr.com/photos/keremtapani/', target: :_blank

#world-cup-page
  .title
    %h1 Mark.My at the World Cup 2014
    .lead= @description
    %p
      Use Mark.my to make predictions regarding anything that might happen during the World Cup (e.g. final winner, specific results, number of goals etc…)
      %br
      Every prediction made through Mark.my is secured and timestamped so when you predict something, your friends must believe you :)
      %br
      You can use this page to pre-fill a prediction, or click Create Prediction to write your own (not only World Cup predictions).

  .choosing
    %h2 Who will win the 2014 World Cup?
    - all_teams.each do |team|
      = link_to(worldcup_path(:team => team), class: 'team col-md-3 col-sm-6 col-xs-12') do
        = image_tag("flags/#{team.parameterize}.png", class: :flag)
        = team

