.well
  = render 'layouts/flash'
  %h2
    Sign in
    - if user_signed_in?
      %small
        or
        = link_to t('nav.user.create_account'), edit_user_registration_path

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :password
      %br/
      = f.password_field :password, class: 'form-control'
    - if devise_mapping.rememberable?
      .form-group
        = f.check_box :remember_me
        = f.label :remember_me
    .form-group.text-right
      %button.btn.btn-md.btn-primary{type: :submit}
        %i.fa.fa-signin
        %span Sign in
  - unless user_signed_in?
    = render "devise/shared/links"
