- @in_home = true
- @noheight = true
- content_for :on_body do
  .bg-img
    .bgg{:style => "background-image: url('http://picjumbo.picjumbocom.netdna-cdn.com/wp-content/uploads/IMG_3242-1300x866.jpg')"}

  .img-attribution
    = t('image-attribution')
    = link_to 'Viktor Hanacek', 'http://twitter.com/viktorhanacek', target: :_blank

  #home
    .jumbotron
      .container
        .row.home-header
          %h1.text-center!= t('home.header')
        = form_for @blurb do |f|
          .row
            .form-container.form-container-centered
              .form-group
                = f.text_area :text, class: 'form-control demo-text',rows: 1, maxlength: 80, placeholder: t('home.placeholder')
                .typed-overlay.form-control
                  %span.text
          .row
            .form-container-centered
              = f.submit t('home.action'), class: 'btn btn-lg btn-primary btn-create-blurb'
              %p.note
                %i.fa.fa-lock.fa-lg
                %span= t('home.note')

        -# .row
        -#   .col-sm-12.text-center
        -#     %br
        -#     %span &nbsp;
        -#     %i.fa.fa-lock.fa-lg
        -#     %span= t('home.note')

    .container
      %br
      .row.why
        .col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
          .row.whys
            - %w(why.timestamped why.secure why.share).each do |scope|
              .col-sm-4
                %i.fa.fa-4x.hidden-xs{class: t('icon', scope: scope)}
                %h2
                  %i.fa.hidden-md.hidden-lg.hidden-sm{class: t('icon', scope: scope)}
                  %span= t('title', scope: scope)
                %hr
                %p= t('content', scope: scope)
