%nav.navbar.navbar-default{role: 'navigation'}
  .container
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-target" => "#navigation-actions", "data-toggle" => "collapse", type: "button"}
          %span.sr-only= t('.toggle_navigation')
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: root_path}
          %i.fa.fa-bookmark
          = t('site.title')
      #navigation-actions.collapse.navbar-collapse
        %ul.nav.navbar-nav
          - unless @in_home
            %li
              = link_to root_path do
                %i.fa.fa-plus
                = t('nav.create_prediction')
          %li
            = link_to my_blurbs_path do
              %i.fa.fa-list-ul
              = t('my_predictions')
          - if admin_signed_in?
            %li
              = link_to admin_predictions_path do
                %i.fa.fa-dashboard
                = t('nav.admin.dashboard')
          %li
            = link_to worldcup_path do
              %i.fa.fa-trophy
              = t('world_cup')
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            - if current_user.guest_account?
              %li
                = link_to t('nav.user.sign_in'), new_user_session_path
              %li
                = link_to t('nav.user.create_account'), edit_user_registration_path
            - else
              %li
                .navbar-text
                  %span= t('nav.user.signed_in_as')
                  %strong= current_user.name
              %li
                = link_to t('nav.user.sign_out'), destroy_user_session_path, method: 'DELETE'
          - else
            %li
              = link_to t('nav.user.sign_in'), new_user_session_path
