!!! 5
%html.no-js{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title= I18n.t('site.title')
    %meta{:name => 'description', :content => I18n.t('site.description')}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %meta{:property => 'og:title', :content => I18n.t('site.title')}
    %meta{:property => 'og:description', :content => I18n.t('site.description')}
    %meta{:property => 'og:image', :content => image_url('image.png')}
    %link{:href => '/favicon.ico', :rel => 'shortcut icon'}
    = csrf_meta_tags
    = stylesheet_link_tag :application
    = javascript_include_tag :application

  %body
    = render 'layouts/nav'
    .container
      = yield
    = render 'layouts/footer'
